@model SelectList

@{
    ViewBag.Title = "Create Amazing Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div>
        <form action="/Book/Create" method="post">
            <br><br>
            Title :<br>
            <input type="text" name="Title"><br>

            Author :<br>
            <input type="text" name="Author"><br>
            Price :<br>
            <input type="text" name="Price"><br>
            Publication Year :<br>
            <input type="text" name="PublicationYear"><br>
            Publisher :<br>
            @*<select name="PublisherId">
                @foreach (var publisher in Model)
                {
                    <option value="@publisher.Id">@publisher.Name</option>
                }
            </select>*@
            @Html.DropDownList("PublisherId", Model)
            <input type="submit" value="Create">
        </form>
    </div>
</body>
</html>
